
:root {
    --dark_blue: #0e2d52;
    --white: #ffffff;
    --light_blue: #0D95A5;
    --orange: #FF691F;
  }

.add_to_cart {
    background-color: var(--orange) !important;
    color: #ffffff;
    font-weight: 700;
    border-radius: 0%;
    transition: 0.5s;
}

.add_to_cart:hover {
    background-color: #ffffff !important;
    color: var(--orange);
    font-weight: 700;
    border: 1px solid var(--orange);
}

.add_to_cart:focus-visible {      
    outline: 2px solid black !important;
}

.autoship_price {
    color: #a41f35 !important;
    font-weight: 700;
    
}

.link {
    text-decoration: none;
    color: var(--dark_blue);
    font-weight: 700;
}


.link:hover {
    text-decoration: none;
    color: var(--light_blue);
    font-weight: 700;
}

.opacity_custom {
    opacity: 0.65;
}

.opacity_custom_og {
    opacity: 0.65;
    text-decoration: line-through;
}

.opacity_custom_og_2 {
    opacity: 0.65;
}