:root {
    --dark_blue: #0e2d52;
    --white: #ffffff;
    --light_blue: #0D95A5;
    --orange: #fa6100; 
  }

.add_to_list {
    background-color: var(--white) !important;
    color: var(--dark_blue);
    font-weight: 700;
    border: 1px solid var(--dark_blue);

}

.add_to_list:hover {
    background-color: var(--dark_blue) !important;
    color: var(--white);
    border: 1px solid var(--dark_blue) !important;
}

.add_to_list:focus-visible {
    outline: 2px solid black !important;
 }

.view_lists_btn {
    color: var(--teal);
    font-weight: 700;
    /* border: 1px solid var(--dark_blue); */
}

.view_lists_btn:hover {
    color: var(--dark_blue);
    font-weight: 700;
}

.view_lists_btn:focus-visible {      
    outline: 2px solid black !important;
}

.new_wish_list_btn {
    background-color: var(--white) !important;
    color: var(--light_blue);
    font-weight: 700;
    border: 1px solid var(--light_blue);
}

.new_wish_list_btn:hover {
    background-color: var(--light_blue) !important;
    color: var(--white);
    font-weight: 700;
}

