@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Zilla+Slab:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


:root {
  --dark_blue: #0e2d52;
  --white: #ffffff;
  --orange: #FF691F;
  --teal: #0D95A5;
  --lightTeal: #e6f6f7;
}

body {
  font-family: Roboto;
  font-weight: 400;
  overflow-x: hidden;
}

.site-header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

p {
  font-size: 1rem;
}

.bg-dark-blue {
  background-color: var(--dark_blue);
}
  
.text-small {
  font-size: 14px !important;
}

.text-extra-small {
  font-size: 12px !important;
}

.make-me-sticky {
  position: sticky;
  top: 150px;
}

.dark-blue {
  color: var(--dark_blue);
}

.dark-blue-hp {
  color: var(--dark_blue);
}

.dark-blue-hp:hover {
  text-decoration: underline;
}

.add_unit_name {
  color: var(--dark_blue);
  font-weight: bold;
  text-decoration: none;
  
}

.add_unit_name:hover {
  color: var(--teal);
}

.orange {
  color: var(--orange);
}

.teal {
  color: var(--teal) !important;
}

img {
  max-width: 120px; 
  height: auto; 
}

.banner {
	background-color: #a41f35;
	color: white;
	font-weight: 700;
  margin-left: 0;
  margin-right: 0;
}

.link {
  text-decoration: none;
  color: #0D95A5;
  font-weight: 700;
}

.link:hover {
  text-decoration: none;
  color: #0e2d52;
  font-weight: 700;
}

.navlink {
  text-decoration: none !important;
  color: var(--dark_blue) !important;
}

.navlink:hover h5 {
  text-decoration: none !important;
  color: var(--teal)!important;
}

.icon_color {
  color: var(--orange) !important;
}

.hp-tile {
  text-decoration: none !important;
}

/* .hp-tile:hover h5 {
  text-decoration: underline;
} */

.hp-tile:hover .card {
  border-bottom: 8px solid var(--teal);
  margin-bottom: -8px;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  100% {
    opacity: 1;
    max-height: 600px;
  }

}

@keyframes outAnimation {
  0% {
    opacity: 1;
    max-height: 600px;
  }
  100% {
    opacity: 0;
    max-height: 0px;
  }

}
 
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.add_to_list {
  background-color: var(--white) !important;
  color: var(--dark_blue);
  font-weight: 700;
  border: 1px solid var(--dark_blue);

}

.add_to_list_active {
  background-color: var(--dark_blue) !important;
  color: var(--white) !important;
  border: 1px solid var(--dark_blue) !important;
}

.add_to_list:hover {
  background-color: var(--dark_blue) !important;
  color: var(--white);
  border: 1px solid var(--dark_blue) !important;
}

.my-warning-reverse {
  border: 1px solid var(--orange) !important;
  background-color: var(--white);
  color: var(--dark_blue);
  transition: 0.3s;
}

.my-warning-reverse:hover{
  color: var(--white) !;
  border: 1px solid var(--orange) !important;
  background-color: var(--orange);
}

.my-outline-teal {
  background-color: var(--lightTeal);
  transition: 0.3s;
}

.my-outline-teal:hover {
  border: 1px solid var(--teal) !important;
  background-color: #c0e1e2;;
  transition: 0.3s;
}

.my-warning{
  border: 1px solid var(--orange) !important;
  background-color: var(--orange);
  color: var(--white);
  transition: 0.3s;
}

.my-warning:hover{
  color: var(--dark_blue) ;
  border: 1px solid var(--orange) !important;
}

.my-menu {
  color: var(--dark_blue) ;
  border: 1px solid var(--dark_blue) !important;
  transition: 0.3s;
}

.signIn-menu {
  color: var(--dark_blue) ;
  transition: 0.3s;
}

.signIn-menu:hover {
  box-shadow: inset 300px 0 0 0 var(--dark_blue);
  color: white;
  transition: 0.9s;
}

.my-menu:hover{
  color: var(--white);
  border: 1px solid var(--dark_blue) !important;
  background-color: var(--dark_blue);
}

.my-search {
  color: var(--white);
  border: 1px solid var(--dark_blue) !important;
  background-color: var(--dark_blue);
  transition: 0.3s;
}

.my-search:hover{
  color: var(--dark_blue) ;
  border: 1px solid var(--dark_blue) !important;
  background-color: var(--white);
}

.exposed-menu span:hover {
  color: var(--teal) !important;
  transition: 0.3s;
  cursor: pointer;
  text-shadow: 0 0 0.5px var(--teal);
}

.offcanvas_background {
  background-color: var(--dark_blue) !important;
}

.close-offcanvas {
  color: var(--white) !important;
  transition: 0.3s;
  cursor: pointer;

}

.close-offcanvas :hover {
  color: var(--orange) !important;
  transition: 0.3s;
  cursor: pointer;

}

.my-offcanvas-title {
  color: var(--white);
  border: solid 1px var(--white);
  transition: 0.3s;
  cursor: pointer;
}

.my-offcanvas-title:hover {
  color: var(--dark_blue);
  border: solid 1px var(--white);
  background-color: var(--white);
  transition: 0.3s;  
}

.my-warning-login {
  border: 1px solid var(--teal) !important;
  background-color: var(--white);
  color: var(--teal);
  transition: 0.3s;
}

.my-warning-login:hover{
  color: var(--white) ;
  background-color: var(--teal);
}

.login-title {
  font-family: "Fuggles" !important;
  font-size: 8vh !important;
  color: var(--dark_blue);
}

.sign-in-tab-text {
  color: var(--teal);
}

.sign-in-tab-text:hover {
  color: var(--orange);
}

.accordion {
  --bs-accordion-active-bg: white;
}

.bottom-offCanvas {
  height: 65% !important;
}

.bottom-offCanvas_AS {
  height: 20% !important;
}

  /* .accordion-button {
    color: var(--dark_blue);
  } */

  .accordion-button:focus {
    box-shadow: inset 0px 0px 0px var(--dark_blue),0px 0px 0px 0px var(--dark_blue);
  }

#card {
    background-color: #E6F6F7 !important;
}

.bg-light-blue {
    background-color: #E6F6F7 !important;
}

.rewards_style {
    color: #0e2d52; 
    font-family: "Zilla Slab";
    font-size: 19px;
    font-weight: 600;
}

.wellness_style_hp {
  color: #539800; 
  font-family: "Roboto";
  font-size:1.6rem;
  line-height: 40%;
  font-weight: 600;
}

.wellness_style_hp_blog {
  color: #0e2d52; 
  font-family: "Zilla Slab";
  font-size: 1.4rem !important;
  font-weight: 600;
}

.my-cart {
    font-family: zilla slab;
    color: #0e2d52;
}

.free_shipping {
    color: #0e2d52;
}

.item-title {
    color: #0e2d52;
    font-size: 1.2rem;
}   

.progress-bar {
    background-color: #0e2d52 !important;
}

.pr-col {
    border-left: 1px solid #0e2d52;
}

.btn-white-orange {
    color: #fa6100 !important;
    background-color: #fff !important;
    border: 1px solid #fa6100 !important;
    transition: all ease-in .2s;
}

.btn-white-orange:hover {
    color: #ffffff!important;
    background-color: #fa6100 !important;
    border: 1px solid #fa6100 !important;
    transition: all ease-in .2s;
}

.btn-white-orange:focus-visible {
    border: 2px solid black !important;
    transition: all ease-in .2s;
}

.btn-orange-white {
    color: #ffffff!important;
    background-color: #fa6100 !important;
    border: 1px solid #fa6100 !important;
    transition: all ease-in .2s;
}

.btn-orange-white:hover {
    color: #fa6100 !important;
    background-color: #fff !important;
    border: 1px solid #fa6100 !important;
    transition: all ease-in .2s;
}

.btn-orange-white:focus-visible {
    border: 2px solid black !important;
    transition: all ease-in .2s;
}

.btn-white-dark-blue {
    color: #0e2d52!important;
    background-color: #fff !important;
    border: 1px solid #0e2d52 !important;
    transition: all ease-in .2s;
}

.btn-white-dark-blue:hover {
    color: #ffffff!important;
    background-color: #0e2d52 !important;
    border: 1px solid #0e2d52 !important;
    transition: all ease-in .2s;
}

.learn-more {
    text-decoration: none;
    color: #0D95A5;
}

.learn-more:hover {
    text-decoration: none;
    color: #0e2d52;
}

.pr-par {
    font-size: 18.66px;
}

.socialIcon {
  color: var(--teal);
  border-radius: 50%;
  padding: 5px;
}

.socialIcon:hover {
  color: #0e2d52;
  outline: #0e2d52 solid 1px;
  border-radius: 50%;
  padding: 5px;
}

.custom-dark {
	background-color: #0e2d52;
	color: white;
}

.custom-dark:hover{
	background-color: white;
	color: #0e2d52;
	border: 1px solid #0e2d52;
}

.custom-ghost-teal {
	background-color: white;
	color: #0D95A5;
	border: 1px solid #0D95A5;
}

.custom-ghost-teal:hover {
	background-color: #0D95A5;
	color: white;
	border: 1px solid #0D95A5;
}

@media only screen and (max-width: 992px) {
    .pr-col {
        border-left: none;
    }

    body {
        padding-bottom: 100px;
    }
}


.blog-a {
  text-decoration: none;
  color: var(--dark_blue);
}

.blog-a:focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}


.blog-a:hover {
  text-decoration: overline solid var(--dark_blue) 3px;
}

.bottom-right {
  position: absolute !important;
  bottom: 8px;
  right: 8px;
}

.over-the-image-container {
  position: relative !important;
  text-align: center !important;
}

.btn-outline-light-custom:hover {
  background-color: #f8f9fa !important;
}

.card-arrow {
  cursor: pointer;
}

.card-arrow:hover {
  color: var(--orange) !important;
  
}

/* Toogle */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 5.2em;
  height: 2em;
  overflow: hidden;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.onoffswitch {
  position: relative;
  width: 90px;
  user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--dark_blue);
  border-radius: 20px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: var(--teal);
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: var(--lightTeal);
  color: var(--dark_blue);
  text-align: right;
}
.onoffswitch-switch {
  width: 21px;
  margin: 6px;
  background: #ffffff;
  border: 2px solid var(--dark_blue);
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.search-result-option {
  background: none;
	border: none;
	cursor: pointer;
  border-bottom: 5px solid var(--dark_blue) !important;
  border-radius: 0;
  font-weight: 500;
  color: var(--dark_blue)
}

.search-result-option:hover {
  background: none;
	border: none;
	cursor: pointer;
  border-bottom: 5px solid var(--teal) !important;
  border-radius: 0;
  font-weight: 500;
  color: var(--teal)
}

.search-result-option_active {
  background: none;
	border: none;
	cursor: pointer;
  border-bottom: 5px solid var(--teal) !important;
  border-radius: 0;
  font-weight: 500;
  color: var(--teal);
};

.search-result-option_active:hover {
  background: none;
	border: none;
	cursor: pointer;
  border-bottom: 5px solid var(--teal) !important;
  border-radius: 0;
  font-weight: 500;
  color: var(--teal);
};